{% extends "base.html" %} {% block content%}

<h2>Memo# {{ memo.transaction_number }}</h2>

<p>Status: {{ memo.status }}</p>

<form method="POST"
      action="{{ url_for('memos.return_stones', memo_id=memo.id) }}" onsubmit="return handleReturn(event)">

<table class="table">

<tr>
    <th></th>
    <th>Stock</th>
    <th>Status</th>
</tr>

{% for stone in stones %}
<tr>
    <td>
        <input type="checkbox"
               name="stone_ids"
               value="{{ stone.stone_id }}">
    </td>

    <td>{{ stone.stock_number }}</td>
    <td>{{ stone.status }}</td>
</tr>
{% endfor %}

</table>

<button class="btn btn-warning">
    Mark Returning
</button>

</form>

{% endblock %}