{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h1>Inventory</h1>
  <div style="overflow-x: auto">
    {% if stones %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          {% for key in stones[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for stone in stones %}
        <tr>
          {% for value in stone.values() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No Stones Found</p>
    {% endif%}
  </div>
</div>
{% endblock %}
